# Sample configuration
# Environments
RAILS_ENV=production
NODE_ENV=production

# DB configs
DB_POOL=3
DB_USER=
DB_NAME=
DB_PASS=
DB_HOST=
DB_PORT=5432

# Secrets, be sure to generate proper ones
RAILS_DEVISE_SECRET=
RAILS_DEVISE_PEPPER=
SECRET_KEY_BASE=
